/* Reset all CSS elements and change selection color */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--color3);
    color: var(--color1);
}

/* Remove list style and hide english text at first access */

.english, .portuguese {
    list-style: none;
}

.english {
    display: none;
}

/* Body, scroll behavior, fonts, headers, footer and other elements */

html {
    scroll-behavior: smooth;
}

body {
    --color1: #F9F9F9;
    --color2: #E7E7E7;
    --color3: #06BEE1;
    --color4: #161925;
    --color5: #11131c;
    background-color: var(--color1);
    font-family: "Roboto Mono", monospace;
}

h1, h2, p, hr {
    color: var(--color4);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2%;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

hr {
    width: 80%;
}

footer {
    width: 100%;
    padding: 1em 0;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    p {
        font-size: 1.5rem;
    }
}

/* Top navigator bar and it's elements */

#logo-top {
    width: 64px;
    margin-left: 150%;
    transform: scale(1.5);
}

.nav-bar {
    background-color: var(--color2);
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    list-style: none;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.menu {
    display: flex;
    margin-left: 50%;
    li {
        padding-left: 20px;
    }
    a {
        font-size: 1.3rem;
    }
    li, a {
        display: inline-block;
        color: var(--color4);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

.lang-menu {
    display: none;
    position: absolute;
    width: 500%;
    top: 150%;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.lang-option {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    color: var(--color4);
    cursor: pointer;
    padding: 5px 0;
}

.dark-mode-button, .lang-button {
    width: 32px;
    cursor: pointer;
}

.dark-mode-button:hover, .lang-button:hover {
    filter: invert(60%) sepia(50%) saturate(6100%) hue-rotate(165deg) brightness(100%) contrast(100%);
    transition: .2s ease-in-out;
}

.open-menu, .close-menu {
    display: none;
}

#check {
    display: none;
}

/* Dark mode colors */

.dark-mode {
    /* Body, fonts and footer */
    background-color: var(--color4);
    h1, h2, h3, p, hr {
        color: var(--color1);
    }
    footer {
        background-color: var(--color5);
    }
    /* Top navigator and it's elements */
    .nav-bar, .menu {
        background-color: var(--color5);
        li, a {
            color: var(--color1);
        }
    }
    .nav-button:hover {
        color: var(--color3);
        transition: .2s ease-in-out;
    }
    .dark-mode-button, .lang-button, .contact-icon, .open-menu, .close-menu {
        filter: invert();
    }
    .dark-mode-button:hover, .lang-button:hover {
        filter: invert(60%) sepia(50%) saturate(6100%) hue-rotate(165deg) brightness(100%) contrast(100%);
        transition: .2s ease-in-out;
    }
    .lang-menu, .lang-option {
        background-color: var(--color5);
        color: var(--color1);
    }
    /* Home container and it's elements */
    #copy-email {
        color: var(--color1);
    }
    /* Projects container and it's elements */
    .card, .card-data {
        background-color: var(--color5);
    }
    /* Contact container and it's elements */
    .contact-container {
        background-color: var(--color5);
    }
}

/* Home container and it's elements */

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2% 0;
}

.text-container {
    flex: 1;
    margin-left: 10%;
    h1 {
        font-size: 3rem;
    }
    p {
        margin: 5% 0;
        font-size: 1.5rem;
        max-width: 90%;
        opacity: 90%;
    }
}

.image-container {
    flex: 1;
    margin: 5% 0% 0% 5%;
    img {
        width: 85%;
    }
}

.email-container {
    display: table;
    flex: 1;
    position: absolute;
    left: 0;
    margin: 18% 0% 0% 10%;
}

#email {
    display: table-cell;
    width: 420px;
    height: 30px;
    font-size: 1.3rem;
    text-align: center;
    border: var(--color3) solid;
    border-radius: 10px;
    cursor: pointer;
}

#email:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

#copy-email {
    text-wrap: nowrap;
    font-size: 1.3rem;
    margin-left: 6%;
    opacity: 80%;
}

.social-media-container {
    position: absolute;
    margin: 30% 45% 0% 0%;
    img {
        width: 80px;
        filter: invert(60%) sepia(50%) saturate(6100%) hue-rotate(165deg) brightness(100%) contrast(100%);
    }
}

.social-icon:hover {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

/* About container and it's elements */

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.about-image {
    margin: 10% 0% 10% 10%;
    img {
        width: 180%;
        border-radius: 100%;
        border: 5px solid var(--color5);
    }
}

.about-text {
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    p {
        max-width: 80%;
        font-size: 1.5rem;
        margin-top: 2%;
        opacity: 90%;
    }
}

/* Skills container and it's elements */

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    h1 {
        margin-right: 60%;
    }
    h2 {
        margin-bottom: 5%;
    }
}

.skills-icons {
    text-align: center;
    margin: 2% 10% 2% 10%;
}

.skills {
    width: 128px;
    height: 128px;
    margin: 5% 0% 0% 2%;
    z-index: 100;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--color4);
    color: var(--color1);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Projects container and it's elements */

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        margin-right: 60%;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 5% 0% 5% 0%;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1000px;
}

.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color2);
}

.card-data {
    background-color: var(--color1);
    color: var(--color1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    h2 {
        margin-bottom: 5%;
    }
    P {
        font-size: 1.3rem;
        max-width: 600px;
        margin-bottom: 2%;
        opacity: 90%;
    }
}

.card-repo {
    display: inline-block;
    position: relative;
    color: var(--color3);
    text-decoration: none;
    font-size: 1.5rem;
    top: 5%;
    left: 75%;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Contact container and it's elements */

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    gap: 50px;
    padding: 2% 0 2%;
    h2 {
        font-weight: normal;
        font-size: 25px;
    }
}

.info {
    img {
        margin-left: 15%;
    }
}

#logo-bottom {
    width: 150px;
    height: 150px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 5% 0 5%;
}

.contact-text {
    margin-left: 2%;
    text-decoration: none;
    color: var(--color4);
}

/* Hover effect for buttons */

.nav-button:hover, .lang-option:hover, .card-repo:hover {
    color: var(--color3);
    transition: .2s ease-in-out;
}

.nav-button::before, .lang-option::before, .card-repo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color3);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before, .lang-option:hover::before, .card-repo:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Mark */

mark.cyan {
    background: none;
    color: var(--color3);
    font-weight: bold;
}

/* Media queries */

@media screen and (max-width: 610px) {

    /* Body, headers, button and other elements */

    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    footer {
        width: 200%;
        padding-left: 0%;
        text-align: center;
        p {
            font-size: 1.4rem;
            text-wrap: nowrap;
        }
    }
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1.5rem;
        max-width: 100%;
        padding: 0 10px;
    }
    hr {
        margin-left: 95%;
        width: 175%;
    }

    /* Top navigator bar and it's elements */

    .nav-bar {
        height: 10%;
    }

    .logo-container {
        margin-right: 110%;
        transform: scale(1.4);
    }

    .dark-mode-button, .lang-button {
        position: relative;
        width: 64px;
    }

    .dm-lang-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 90%;
        padding-left: 40%;
    }   

    .lang-menu {
        width: auto;
        padding-right: 10%;
        span {
            font-size: 2rem;
        }
    }

    .nav-bar {
        padding: 8px 10px;
    }
    
    .menu {
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
        li, a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            top: 20%;
            margin: 5% 0 0 105%;
            font-size: 2.5rem;
            padding: 10px;
        }
    }

    .open-menu {
        position: absolute;
        margin-left: 80%;
    }
    
    .close-menu {
        position: absolute;
        top: 35px;
        right: 40px;
    }

    .open-menu, .close-menu {
        display: block;
        cursor: pointer;
        img {
        width: 64px;
        }
    }

    #check:checked ~ .menu {right: 0;}

    /* Home container and it's elements */

    .gotop {
        display: none;
    }

    .home-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 70% 45% 90%;
        padding-left: 5%;
    }

    .text-container {
        margin: 50% 0;
        width: 200%;
        text-align: center;
        h1 {
            font-size: 2.6rem;
            margin-left: 2%;
        }
        p {
            font-size: 1.7rem;
            max-width: 200%; 
        }
    }

    .image-container {
        display: none;
        width: 80;
        max-width: 100%;
        margin-right: 10%;
    }

    .email-container {
        top: 106%;
        left: 10%;
    }

    #email {
        width: 570px;
        height: 45px;
        position: absolute;
        text-align: center;
        font-size: 1.8rem;
    }
    
    #copy-email {
        display: none;
    }
    
    .social-media-container {
        display: flex;
        justify-content: center;
        margin: 165% 0 0 0;
        img {
            width: 100px;
        }
    }

    /* About Contaiiner and it's elements */

    .about-container {
        padding-top: 6%;
        width: 100%;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-left: 5%;
            text-wrap: nowrap;
        }
        hr {
            width: 85%;
            margin-left: 12%;
        }
    }

    .about-image {
        width: 70%;
        margin-left: 40%;
    }

    .about-text {
        width: 200%;
        margin: 0;
        padding: 0;
        text-align: center;
        margin: 5% 0 20% 80%;
        p {
            font-size: 1.7rem;
            max-width: 100%;
            margin-left: 10%;
            padding-top: 5%;
        }
    }
    
    /* Skills container and it's elements */

    .skills-container {
        width: 100%;
        padding-left: 10%;
        h1 {
            margin-left: 145%;
            padding-bottom: 5%;
            padding-left: 10%;
            text-wrap: nowrap;
        }
    }

    .skills-icons {
        width: 200%;
        margin: 10% 0% 10% 90%;
    }

    .skills {
        width: 90px;
        height: auto;
    }

    .tooltip .tooltiptext {
        bottom: 100%;
        font-size: 1.2rem;
    }

    /* Projects container and it's elements */

    .projects-container {
        width: 100%;
        padding: 10% 0% 10%;
        padding-left: 10%;
        h1 {
            margin-left: 150%;
            padding-bottom: 5%;
            text-wrap: nowrap;
        }
    }
    .projects {
        width: 65%;
        margin-right: 20%;
        padding-top: 10%;
    }

    .card {
        margin: 5% 0;
        flex-direction: column;
        width: 280%;
    }

    .card-data {
        margin-right: 5%;
        p {
            font-size: 1.5rem;
            max-width: 100%;
            text-align: center;
        }
    }

    .card-repo {
        font-size: 1.6rem;
    }

    /* Contact container and it's elements */

    .info {
        img {
            margin-right: 20%;
        }
    }

    .contact-container {
        width: 200%;
        text-align: center;
    }

    .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 2%;
    }

    .contact-icon-wrapper {
        display: flex;
        align-items: center;
        column-gap: 50px;
        margin-left: 15%;
    }

    .contact-text {
        margin-left: 2%;
    }
}
